{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- bootstrap script to style and center cancel button to the right -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>


  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2>Create Group</h2>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Confirm</button>

            <a class="btn btn-sm btn-default pull-right" href="{% url 'home' %}">Cancel</a>

          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}