

 
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
          
<div class="card">
  <div class="card-header">
    User Panel
  </div>
  <div class="card-body">
    <h5 class="card-title">Hello {{ user.first_name }} {{ user.last_name }}      </h5>
    <h6>Email: {{ user.email }}</h6>
    <p class="card-text">Use this dashboard to manage Groups and User settings</p>
  </div>
</div>
<br>


  <div class="row justify-content-center">
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a class="nav link active" aria-current="page" href="{% url 'password_change' %}">Change Password</a> 
            </li>
            <li class="list-group-item">
              <a class="nav link" href="{% url 'update-email' %}">Change Email</a>
            </li>
            <li class="list-group-item">
              <a class="nav link" href="{% url 'createGroup' %}">Create Group</a>
            </li>
            <li class="list-group-item">              
              <a class="nav link" href="{% url 'update' %}">Update User</a>
            </li>
          </ul>
                  
  
 
          
          
        </div>
      </div>
    </div>
    

    <div class="col-7">
      <div class="card">
        <div class="card-body">
            <table class = "table">
              <thead class="thead-light">
                <tr>
                  <th scope ="col">Group</th>
                  <th scope ="col">Member</th>
                  <th scope ="col">Invited</th>


                </tr>
          
                  <a></a>
                  {% for members in memberOf %}
                  <tr>
                    {% if members.groups.groupName == 'Public' %}
                      
                    {% else %}
                      {% if members.accepted %}
                        <td>
                          <a href="{% url 'groupDash' members.groups.id %}">{{members.groups.groupName}} </a> 
                        </td>
                        <td>Yes</td>
                        <td></td>
                      {% elif members.invited %}
                        <td>{{members.groups.groupName}}</td>
                        <td></td>
                        <td><a href="{% url 'acceptinvite' group_id=members.groups.id %}"> Yes  </a></td>
                      {% endif %}
                    {% endif %}
                    </tr>
                  {% endfor %}

              </thead>
            </table>
          </div>
      </div>
    </div>
  </div>



{% endblock %}