{% extends 'basefile.html' %}


{% load static %}

{% block content %}

<div>
    <div class="row">

        <div class = "col-2">
            <div class = "col">
                <p>File Filter</p>        
                <form method="get">
                    {{ myFilter.form }}
                <button class="btn btn-primary" type = "submit">Filter</button>    
                </form> 
            </div>
        </div>

            <div class = "col-9">
                <div class="row justify-content-center">
                    
                    <table class = "table">
                        <thead class="thead-dark">

                        <tr>
                            <th scope ="col">Name</th>
                            <th scope ="col">Type</th>
                            <th scope ="col">Size</th>
                            <th scope ="col">Uploaded</th>
                            <th scope ="col">Share</th>
                            <th scope ="col">Public</th>
                            <th scope ="col">Note</th>
                            <th scope ="col">Delete</th>

                        </tr>
                        {% for fileItem in files %}
                            {% if fileItem.uploadedBy == user.id or fileItem.public == True %}
                            <tr>
                                <td> 
                                    <!-- Name -->
                                    <div class="storage-image">
                                        {% if fileItem.fileType == 'image' %}
                                            <img src="{%static "img/icons8-image-file-48.png" %}" alt ="" width = 300px height = 300px > 
                                        {% elif fileItem.fileType == 'file' %}
                                            <img src="{%static "img/icons8-document-48.png" %}" alt ="">
                                        {% endif %} 
                                        <a href={{ fileItem.fileURL }}  class = "file-btn" target="_blank">{{ fileItem.fileName }}</a>
                                    </div>  
                                </td>
                                <!-- Type -->
                                <td> {{ fileItem.fileType }} </td>
                                <!-- Size -->
                                <td> {{ fileItem.size }} </td>
                                <!-- Upload Date -->
                                <td> {{ fileItem.uploadDate }} </td>
                                <!-- Share -->
                                <td>

                                    {% if fileItem.public == True %} 

                                        {% if fileItem.fileType in vidList or fileItem.fileType in audList %}
                                            <a href= "{% url 'video' fileItem.id %}">Link</a>
                                        {% elif fileItem.fileType == 'pdf' %}
                                            <a href= "{% url 'pdf' fileItem.id %}">Link</a>
                                        {% else %}
                                            <a href= "{% url 'image' fileItem.id %}">Link</a>
                                        {% endif %}
                                    
                                    {% else %}

                                        <p>Private</p>

                                    {% endif %}
                                <!-- Public -->
                                </td>
                                    {% if fileItem.public == True %} 
                                        <td>Yes</td>
                                    {% else %}
                                        <td>No</td>
                                    {% endif %}
                                <!-- File Note -->
                                <td> {{fileItem.fileNote }} </td>
                                <!-- Delete -->
                                <td>
                                    <form method = "link" action = "{% url 'delete' fileItem.id %}">
                                        <button type="submit" class="btn btn-danger">X</button>
                                    </form>
                                </td>

                            {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div> 
            </div>

    </div>
</div>

{% endblock %}

