{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>temp page for file storage</title>
    <link rel="stylesheet" href="{% static 'fileStorage/CSSstyles/base.css' %}">
    <link rel="stylesheet" href="{% static 'fileStorage/CSSstyles/all-storage.css' %}">

</head>
<body>
    <header id = "main-header">
        <nav><a href="/fileStorage" id = "main-logo">Cloud Storage</a></nav>
        <p>Store files, host videos to come</p>
    </header>
    <main>
        <section>
            
            <a href="" class="btn">Upload</a>
                                  
            <table class = "storage-item">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Uploaded</th>
                    <th>Modified</th>
                    <th>Access</th>
                </tr>
                {% for fileItem in fileStorage %}
                    <tr>
                        <td> 
                            <div class="storage-image">
                                {% if fileItem.image == 'image' %}
                                    <img src="{%static "img/icons8-image-file-48.png" %}" alt ="" width = 300px height = 300px > 
                                {% elif fileItem.image == 'file' %}
                                    <img src="{%static "img/icons8-document-48.png" %}" alt ="">
                                {% endif %} 
                                <a href="" class="file-btn">{{ fileItem.fileName }}</a>
                            </div>  
                        </td>
                        <td> {{ fileItem.fileType }} </td>
                        <td> {{ fileItem.size }} </td>
                        <td> {{ fileItem.uploadDate }} </td>
                        <td> {{ fileItem.modifyDate }} </td>
                        <td> {{ fileItem.visibility }} </td>
                    </tr>
                {% endfor %}

            </table>
        </section>
    </main>
</body>
</html>